
#id47{
    height:50px;
    width: 100%;
    box-sizing: border-box;
    background-color:grey;
    border: 5px solid red;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}
.cla48{
    background-color:black;
    color: aliceblue;
    border: 3px solid blue;
    border-radius: 20px;
    margin: 0px 60px;
    text-align: center;
    height: 30px;
    width: 120px;
    text-decoration: none;
}
.cla1{
    color: white;
    font-size: 20px;
    text-align: justify;
}
.cla2{
    
    height: 200px;
    width: 100%;
}
#id2{
   
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.cla3{
    margin:0px 20px;
}
.cla4{
    text-align: center;
}
a:link {
    color: red;
  }
  
  
  a:visited {
    color: rgb(255, 255, 255);
  }
  
 
  a:hover {
    color: hotpink;
  }
  
 
  a:active {
    color: blue;
  }